%h3 Комментарии

%ul.media-list
  - @story.comments.each do |comment|
    %li.media
      %a.pull-left
        = gravatar_image_tag(comment.user.email, alt: comment.user.email)
      .media-body
        %h4.media-heading
          = comment.user.email
          = link_to "Редактировать", edit_story_comment_path(@story, comment, from: story_url(@story)), class: "btn btn-mini"
          = link_to "Удалить", story_comment_path(@story, comment), method: :delete, confirm: "Вы уверены?", class: "btn btn-mini"

        .actions

        = comment.body


%h4 Добавить комментарий
= simple_form_for(Comment.new, url: story_comments_path(@story)) do |f|
  = f.input :body, input_html: { class: 'span8', rows: 4 }
  .form-actions
    = f.button :submit
