%h3
  = link_to story.title, story_path(story)

.row-fluid
  .span8
    = markdown story.description

  .span4
    .actions
    %p
      %strong Status
      %div.label.label-info= story.human_state_name
    - unless story.owner.nil?
      %p
        %strong Assigned to 
        %div.label= story.owner.email
    - unless story.requester.nil?
      %p
        %strong Requested by
        %div.label= story.requester.email
