%h2= t '.title'
= search_form_for @q do |f|
  .control-group
    = f.label :title_cont, class: 'control-label'
    .controls
      = f.text_field :title_cont, class: 'span12'
  .control-group
    = f.label :state_eq, class: 'control-label'
    .controls
      = f.select :state_eq, Story.state_machines[:state].states.map { |s| [s.human_name, s.name] }, { include_blank: true }, { class: 'span12' }
  .control-group
    = f.label :owner, class: 'control-label'
    .controls
      = f.text_field :owner_email_cont, class: 'span12'
  .form-actions
    =f.submit t('.button_label'), class: 'btn btn-primary'
