%h3
  = @story.title
  = link_to "Редактировать", edit_story_path(@story), class: "btn btn-mini btn-success"
  = link_to "Удалить", story_path(@story), method: :delete, class: "btn btn-mini btn-danger",
                                                               confirm: "Вы уверены?"
.row-fluid
  .span8
    = markdown @story.description

  .span4
    .actions
    %p
      %strong Status
      %div.label.label-info= @story.human_state_name
    - if @story.owner
      %p
        %strong Assigned to 
        %div.label= @story.owner.email
    - if @story.requester
      %p
        %strong Requested by
        %div.label= @story.requester.email

  .span12
    = render 'comments'
